#PREFIX        = /opt/pacbio
#WORKDIR       = /media/ssd_drive/pf/workspace
#HAVE_CCACHE   = /opt/software/c/ccache/3.2.3/bin/ccache
#HAVE_ZLIB     = /opt/software/z/zlib/1.2.8-cloudflare
#HAVE_PYTHON   = /opt/python-2.7.9/bin/python
#HAVE_OPENBLAS = /opt/software/o/openblas/0.2.14
#HAVE_BOOST    = /opt/software/b/boost/1.58
#HAVE_CMAKE    = /opt/software/c/cmake/3.2.2/bin/cmake
#HAVE_HDF5     = /opt/software/h/hdf5-tools/1.8.12
